<!DOCTYPE html>
<html>
<title>Elementary Python - Murder at the Metropolitan Club</title>
<body>

<h1>Murder at the Metropolitan Club</h1>

<h3>The following is a list of suspects. Click on one below to see their details.<h3>
{% if suspect_list %}
    <ul>
      {% for suspect in suspect_list %}
      <li><a href="/murder_at_metro_club/{{ suspect.id }}/">{{ suspect.name }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No suspects available.</p>
    {% endif %}
<a href="edit">Edit Suspect Details</a>
</body>
</html>
