<!DOCTYPE html>
<html>
<title>Elementary Python</title>
<body>
  <header>
    <h1>Welcome to Elementary Python</h1>
    <h2>This site hosts a set of applications based on the book</h2>
      <p>"<a href="http://amzn.to/2lRyfcu">Elementary Pascal</a> - Learning To Program Your Computer In Pascal With Sherlock Holmes" by Henry Ledgard and Andrew Singer</p>
  </header>
  <br></br>
  <div id="app_list">
    <b>Applications:</b>
    <ul>
      <li><a href="/murder_at_metro_club">Murder at the Metropolitan Club</a></li>
      <li><a href="/holmes_gives_a_demo">Holmes Gives a Demonstration</a></li>
      <li><a href="/bathing_machine">The Adventure of the Bathing Machine</a></li>
      <li><a href="/cigar_ash">A Study in Cigar Ash</a></li>
      <li><a href="/clergyman_peter">The Adventures of Clergyman Peter</a></li>
      <li><a href="/holmes_method_revealed">Holmes Method Revealed</a></li>
      <li><a href="/advertisement_in_times">An Advertisement in the <em>Times</em></a></li>
      <li><a href="/ciphered_message">The Ciphered Message</a></li>
      <li><a href="/study_in_chemistry">A Study in Chemistry</a></li>
      <li><a href="/coroner_report">The Coroner's Report</a></li>
      <li><a href="/gold_chip">The Adventure of the Gold Chip</a></li>
      <li><a href="/holmes_delivers_a_lecture">Holmes Delivers a Lecture</a></li>
      <li><a href="/final_programme">The Final Programme</a></li>
    </ul>
  </div>

</body>
</html>
